<div class="modal-header">
  <h4 class="modal-title">Editar tarefa</h4>
  <button type="button" class="close" aria-label="Close" (click)="close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  <form [formGroup]="forms">
    <fieldset>
      <div class="form-group row m-b-15">
        <label class="col-md-3 col-form-label" for="assignment">Tarefa:</label>
        <div class="col-md-7">
          <input type="text" class="form-control" id="assignment" placeholder="Digite a nova tarefa" formControlName="assignment">
        </div>
      </div>
    </fieldset>
  </form>
</div>

<div class="modal-footer">
  <button class="btn btn-sm btn-primary width-80" ngbAutofocus (click)="update()">Confirmar</button>
  <button class="btn btn-sm btn-danger" (click)="close()">Cancelar</button>
</div>
