.container{
    display: flex;
    justify-content: center;
}

.form{
    margin: 1.5rem auto 3rem;
}

.task-field{
    height: 2.5rem;
    border-radius: 0.8rem;
    outline: none;
    padding: 0.6rem;
    margin-right: 0.8rem;
    border: none;
}

.buttons{
    height: 2.5rem;
    width: 2.2rem;
    margin-right: 0.4rem;
    border-radius: 0.7rem;
    outline: none;
    border: none;
    font-size: 1.2rem;
}

.buttons:nth-child(2){
    color: rgb(48, 7, 230);
}

.buttons:nth-child(3){
    color: rgb(248, 0, 0);
}