.container {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  margin: 0 auto;
  background-color: rgba(139, 17, 113, 0.397);
  max-width: 90%;
  width: auto;
  border-radius: 1rem;
}

.cards {
  background-color: white;
  max-width: 100%;
  width: auto;
  min-height: 5rem;
  border-radius: 0.8rem;
  display: flex;
  align-items: center;
  margin: 0.5rem 0.3rem;
  padding: 1.3rem;
  list-style: none;
}

.task {
  width: 80%;
  font-weight: 600;
  word-break: break-all;
}

.content-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.buttons {
  width: 1.8rem;
  outline: none;
  border: none;
  font-size: 1.3rem;
  background: none;
  margin-right: 0.1rem;
}

.buttons:nth-child(1) {
  color: rgba(0, 0, 0, 0.945);
}

.buttons:nth-child(2) {
  color: rgb(47, 0, 255);
}

.buttons:nth-child(3) {
  color: rgb(255, 0, 0);
}
