
<div  class="card">
    <ol id="card"  *ngIf="todos.length > 0">
      <!-- Operação que faz o data binding dos valores adicionados no array e passados através do decorator -->
      <li *ngFor="let item of todos"> {{item.nome}}
        <span id="caixaAtt" ></span>
        <button *ngIf="!item.status" (click)="markAsDone(item)"><i  class="far fa-check-circle"></i></button>
        <button *ngIf="item.status"(click)="markAsUndone(item)"><i  class="fas fa-check-circle"></i></button>
<!-- -------------------------------------->
        <button (click)="editarItem(item)" ><i class="fas fa-edit"></i></button>
<!-- --------------------------------->
        <!-- <button (click)="markAsDone()"><i [ngClass]="item.status ? 'fas fa-check-circle' : 'far fa-check-circle'"></i></button> -->
        
        <button (click)="removerItem(item)" ><i class="far fa-trash-alt"></i></button> 
      </li>
    </ol>
  </div>