.buttons{
    height: 2.8rem;
    width: 2.2rem;
    margin-right: 0.4rem;
    border-radius: 0.7rem;
    outline: none;
    border: none;
    font-size: 1.2rem;
    color: rgb(116, 8, 8);
}

@media screen and (max-width: 300px) {
    .buttons{
      margin-right: 1rem;
    }
  }